<h1 mat-dialog-title>Edit contacts</h1>
<div mat-dialog-content>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>First name</mat-label>
      <input matInput placeholder="" [(ngModel)]="data.firstName">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Last name</mat-label>
      <input matInput placeholder="" [(ngModel)]="data.lastName">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Address</mat-label>
      <input matInput placeholder="" [(ngModel)]="data.address">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Town</mat-label>
      <input matInput placeholder="" [(ngModel)]="data.town">
      <mat-hint>Or village, city.. you get it.</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Post code</mat-label>
      <input matInput placeholder="" [(ngModel)]="data.postCode">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="" [(ngModel)]="data.email">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Phone number</mat-label>
      <input matInput placeholder="" [(ngModel)]="data.phoneNumber">
    </mat-form-field>
  </p>
  <p class="float-right">
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" (click)="closeDialog()"><i class="fas fa-save mr-1"></i> Save</button>
    </mat-dialog-actions>
    
  </p>
</div>