mat-form-field 
{
    width: 500px;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary 
{
    background: #2377f2 !important;
    font-family: "Fira Sans";
    font-weight: 500;
}