.main 
{
    padding-top: 2.5rem;
    position: relative;
}

h1,h2,h3,h4  
{
    font-family: "Poppins";
    font-weight: 700;
    color:#4477f2;
    padding-bottom: 1.5rem;
}

h1  
{
    font-size: 2.6rem;
}
h2  
{
    font-size: 2.4rem;
}
h3  
{
    font-size: 2.0rem;
}
h4  
{
    font-size: 1.8rem;
}
h5  
{
    font-size: 1.6rem;
}
h6  
{
    font-size: 1.4rem;
}