/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&family=Open+Sans:wght@400;600&family=Poppins:wght@400;600;700&display=swap');

p, em, strong, label, i, blockquote, code, li, a
{
    font-family: "Open Sans";
}


html, body 
{
    font-family: "Open Sans";
    min-height: 1000px;
    position: absolute;
    width: 100%;
    height: 100%;
}


h1,h2,h3,h4,h5,h6
{
    font-family: "Poppins";
    font-weight: 700 !important;
    color:#4477f2;
    padding-bottom: 1.5rem;

    em, strong
    {
        font-family: "Poppins";
    }  
}

h1  
{
    font-size: 2.6rem;
}
h2  
{
    font-size: 2.4rem;
}
h3  
{
    font-size: 2.0rem;
}
h4  
{
    font-size: 1.8rem;
}
h5  
{
    font-size: 1.6rem;
}
h6  
{
    font-size: 1.4rem;
}


.btn {    
    font-family: "Fira Sans";
    font-size: 0.95em !important;
    font-weight: 700;
    padding: 5px 12px !important;
}

.btn-lg 
{
    padding: 0.5rem 0.9rem !important;
    font-size: 1.15rem !important;
}

.btn-danger 
{
    background: #ff2b2b !important;
}

.btn-primary 
{
    background: #2377f2;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
