header {	
    width: 100%;
    height: 89px;
    background: rgba(35,119,242,1);
	font-family: "Fira Sans";
	font-weight: 500;
	margin-bottom: 2.5rem;
}

header .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

header ul {
    list-style: none;
    position: relative;
    float: right;
    margin: 0;
	padding: 0;
	background-color: #2377f2;
	@media screen  and (max-width: 800px) {
	    width: 100%;
		display: block;
		float: none;
		position: absolute;
		left: 0;
		top: 34px;
		padding: 20px 0px;
	}
}
a {
    text-decoration: none;
}
header .container a img {
	position: relative;
	z-index: 500;
	display: block;
    float: left;	
    width: 133px;
    margin: 23px 0 0 0;
}
header ul li {
    float: left;
    display: block;
    height: 45px;
    padding: 38px 20px 0 20px;
    cursor: pointer;
	position: relative;
	@media screen and (max-width:800px){
		left:16.5%;
	}
}

header ul a {
    display: inline-block;
    color: white;
	text-decoration: none;
	font-family: "Fira Sans" !important;
	font-size: 0.95em;
	padding: 5px 12px;
	position: relative;
	bottom: 9px;
	font-weight: 500;
}

.dashboardButton a 
{
    background: #ebba37;
    border-radius: 2px;
    font-weight: 700;
}

.logoutButton  a
{
	background: #ff2b2b;
    border-radius: 2px;
    font-weight: 700;
}

.joinButton a 
{
    background: #09a146;
    border-radius: 2px;
    font-weight: 700;
}


nav.navbar.navbar-expand-lg {
    width: 100%;
    height: 89px;
    background: #2377f2;
    font-family: "Fira Sans";
    font-weight: 500;
}
