<header>
    <div class="container">
        <a href="/"><img alt="Blocksi logo" src="../../assets/img/blocksilogo.png" width="150px"></a>
        <ul class="blue">                  
            <li><a href="/">Home</a> </li>                                
            <li class="dashboardButton" *ngIf="!isLoggedIn"><a href="/login"><i class="fas fa-sign-in-alt mr-1"></i> Login</a></li>
            <li class="logoutButton" *ngIf="isLoggedIn" ><a href="#" (click)="logout()"><i class="fas fa-sign-out-alt mr-1"></i> Log out</a></li>
            <li class="joinButton"><a href="/register"><i class="fas fa-user-plus"></i> Register</a> </li>
        </ul>
    </div>
</header>