<div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading">
<div *ngIf="!isLoggedIn">
    <div class="hero">
        <div class="container">
            <h1>Contacts app</h1>
            <p class="pt-3 pb-3 text-muted">This is my modest attempt at a solid interview demo.</p>
            <a href="/login" class="btn btn-primary btn-lg mr-3"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a href="/register" class="btn btn-primary btn-lg"><i class="fas fa-user-plus"></i> Register</a>
            <div class="hero-icon-pen">
                <i class="fas fa-pen-alt"></i>
            </div>
            <div class="hero-icon-book">
                <i class="fas fa-address-book"></i>
            </div>
        </div>
    </div>    
    
    <div class="container pt-4 mt-5">
        <h4>Implemented features</h4>        
        <ul class="p-1 mb-5">
            <li>Backend API endpoints for contacts</li>
            <li>Login and register endpoints</li>
            <li>Simple frontend client app</li>
            <li><strong>BONUS:</strong> Adding contacts (test did not explicitly demand it)</li>
        </ul>
        <h4>Notes to tech interviewer - lead developer</h4>        
        <ul class="p-1 mb-5">
            <li>The frontend app could do with some refactoring - using a strongly typed interface for contacts, breaking up repeating UI elements as components, etc. Also, I was not really warmed up, since I spent the last 6 months developing in monolithic PHP/.NET/Express.js view engine based environments.</li>
            <li>The DB communication is not secure.. I wanted to give you the opportunity to setup your own db in Mongo for testing puproses without the hassle.</li>            
            <li>I chose <strong>Angular</strong> because I like it more in comparison to other modern alternatives. In addition, your company is very Google oriented, so why not. :)</li>
            <li>This level of documentation (or lack thereof) is not my usual practice. I wanted to hurry up, this is why some portions of code are undocumented. I was focusing more on presenting my style.</li>
            <li>The API could use some additional workflows, input checking and corresponding errors with HTTP status codes, according to REST priciples.</li>
            <li>Mobile UX is extremely basic and improper, it was not my main focus and I tried not to lose time with it.</li>
            <li>The code is published here: <a href="https://gitlab.com/ikov34/interview-demo">https://gitlab.com/ikov34/interview-demo</a></li>
            <li>Total development time: <strong>~ 8 hours</strong> (planning, design, coding, testing, polishing) </li>
            <li>Thank you for your time to evaluate my work and the published demo.</li>

        </ul>
    </div>    
</div>

<div *ngIf="isLoggedIn">
    <div class="container">
        <h1>Hello, <em>{{user.username}}</em>!</h1>
        <h2>My contacts</h2>
        <div class="float-right">
            <button class="btn btn-primary" (click)="addContact()"><i class="fas fa-user-plus"></i> Add</button>
        </div>
        <div class="clearfix my-3"></div>
        <div class="alert alert-dismissible alert-info fade show" role="alert" *ngIf="!hasContacts">
            Currently you have no contacts. Please <span class="alert-link">add</span> some! 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>        
        <div *ngFor="let contact of contacts; index as i;">
            <div class="card contact-card">
                <div class="card-body">
                    <h5>Contact #{{i+1}}</h5>
                    <div>
                        <strong>First name: </strong>{{contact.firstName}}
                    </div>
                    <div>
                        <strong>Last name: </strong>{{contact.lastName}}
                    </div>
                    <div>
                        <strong>Address: </strong>{{contact.address}}
                    </div>
                    <div>
                        <strong>Town: </strong>{{contact.town}}
                    </div>
                    <div>
                        <strong>Post code: </strong>{{contact.postCode}}
                    </div>
                    <div>
                        <strong>Email: </strong><a href="mailto:{{contact.mail}}">{{contact.email}}</a>
                    </div>
                    <div>
                        <strong>Phone number: </strong><a href="tel:{{contact.phoneNumber}}">{{contact.phoneNumber}}</a>
                    </div>
                    <div class="float-right">
                        <button class="btn btn-danger mr-2" (click)="delete(i)"><i class="fas fa-trash"></i> Delete</button>
                        <button class="btn btn-primary" (click)="edit(i)"><i class="fas fa-address-book"></i> Edit</button>
                    </div>
                </div>                
            </div>            
        </div>
    </div>
</div>
</div>
