


.hero 
{

    height: 300px;
    box-sizing: border-box;
    position: relative;
    padding: 60px 0px;
    width: 100%;
    background: #f5f5f5;
    h1 
    {
        padding-bottom: 0.2rem;
    }

    .hero-icon-book 
    {
        position: absolute;
        right: 35%;
        top: 45px;
        font-size: 8.5rem;
        color: #2377f2;
        transform: rotate(30deg);

        @media all and (max-width:994px)
        {
            right: 5%;
            font-size: 5.5rem;
        }
        
        @media all and (max-width:500px)
        {
            display:none;
        }
    }
   
    .hero-icon-pen 
    {
        position: absolute;
        right: 40%;
        top: 0px;
        font-size: 6.5rem;
        color: #ebba37;
        z-index: 55;
        transform: rotate(-85deg);

        
        @media all and (max-width:994px)
        {
            right: 5%;
            font-size: 5.5rem;
        }
        @media all and (max-width:500px)
        {
            display:none;
        }
    }
}

ul
{
    list-style-type: none;
    margin-top: -20px;
    li 
    {
        &::before 
        {
            content:"\f0da";
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            font-size: 1.4rem;
            margin-right: 1.2rem;
        }
        margin-top: 0.3rem;
        padding-left: 0.7rem;
    }
}

.contact-card 
{
    margin-bottom: 0.5rem;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #2377f2!important;
}

.loading 
{
    position: absolute;
    width:100%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    mat-spinner 
    {
        margin:auto;
    }

   
    
}