.footer 
{
    width:100%;
}

footer 
{
    background: darkblue;
}

.hero-bottom 
{
    .container span {
        float: left;
        width: 20%;
        margin-top: 50px;
        box-sizing: border-box;
        @media all and(min-width: 600px)
        {
            padding: 0 20px 0 30px;
        }
        
    }

    .container h1 {
        color: #ffdc1c !important;
        font-size: 1em !important;
        font-weight: 500 !important;
        margin-bottom: 20px;
        font-family: 'Fira Sans', sans-serif;
    }

    .container span a, .container span p {
        padding: 5px 0;
        float: left;
        width: 100%;
        display: inline-block;
        font-size: 0.8em;
        font-weight: 400;
        color: #efefef;
        text-decoration: none;
        line-height: 1.25;
    }

    span a 
    {
        font-size: 1em !important;
    }

    span p 
    {
        line-height: 200% !important;
        margin: 0 0 20px 0 !important;
        font-size: 0.8em !important;
        padding: 0 !important;
        font-weight: 400 !important;
    
        
    }

    width:100%;
    height: 380px;
    background-image: url("../../assets/img/footer.png");
    margin-top: 6.5rem;
}

.bottom-p
{
    height: 100%;
    margin: auto;
    color: white; 
    position: relative;
    background: darkblue;
    font-size: 12.8px;
    padding: 10px 0px 12px 0px;
    font-family: "Open Sans";
}