<div class="footer">
<div class="hero-bottom">
    <div class="container">
      
        <span>
          
        </span>
      
      <span>
          
      </span>
        
      <span>
         
      </span>
        
       <span>
          
      </span>
    
      <span>
          <h1>Contact me</h1>
            <p>Ivan Kovačič <br>
              Dobravska ulica 21<br>
              Maribor <br>
              2000 Maribor, SI
              <br><br>
              <a href="tel:+38670626664"><i class="fas fa-phone-alt"></i> +38670626664 </a>
              <a href="mailto:ikov34@gmail.com"><i class="fas fa-envelope"></i> E-mail me </a>
          </p>        
      </span> 
          
  </div>
</div>
<footer>    
    <div class="container">
        <p class="bottom-p">&copy; Ivan Kovačič, 2020</p>
    </div>
</footer>
</div>
